<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EndorseMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into flight_endorse(
			endorse_id
		) values (
			#{endorse_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from flight_endorse
		where 
			endorse_id = #{endorse_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  flight_endorse
			set 
			endorse_id = endorse_id
			where 
				endorse_id = #{endorse_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			endorse_id
		from 
			flight_endorse
		where 
			endorse_id = #{endorse_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.endorse_id
		from 
				flight_endorse a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.endorse_id
		from 
				flight_endorse a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from flight_endorse
		where 
			endorse_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>