<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InvoiceMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into INVOICE(
			INVOICE_ID
		) values (
			#{INVOICE_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from INVOICE
		where 
			INVOICE_ID = #{INVOICE_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  INVOICE
			set 
			INVOICE_ID = INVOICE_ID
			where 
				INVOICE_ID = #{INVOICE_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			INVOICE_ID
		from 
			INVOICE
		where 
			INVOICE_ID = #{INVOICE_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.INVOICE_ID
		from 
				INVOICE a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.INVOICE_ID
		from 
				INVOICE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from INVOICE
		where 
			INVOICE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>