<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PassengerMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into flight_passenger(
			passenger_name,
			passenger_type,
			passenger_nationality,
			passenger_birthday,
			passenger_gender,
			card_type,
			card_no,
			card_Issueplace,
			card_expired,
			order_id
		) values (
			#{passenger_name},
			#{passenger_type},
			#{passenger_nationality},
			#{passenger_birthday},
			#{passenger_gender},
			#{card_type},
			#{card_no},
			#{card_Issueplace},
			#{card_expired},
			#{order_id}			
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from flight_passenger
		where 
			passenger_id = #{passenger_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  flight_passenger
			set 
			passenger_id = passenger_id
			where 
				passenger_id = #{passenger_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			passenger_id,
			passenger_name,
			passenger_type,
			passenger_nationality,
			passenger_birthday,
			passenger_gender,
			card_type,
			card_no,
			card_Issueplace,
			card_expired,
			order_id			
		from 
			flight_passenger
		where 
			passenger_id = #{passenger_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.passenger_id,
				a.passenger_name,
				a.passenger_type,
				a.passenger_nationality,
				a.passenger_birthday,
				a.passenger_gender,
				a.card_type,
				a.card_no,
				a.card_Issueplace,
				a.card_expired,
				a.order_id				
		from 
				flight_passenger a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.passenger_id,
				a.passenger_name,
				a.passenger_type,
				a.passenger_nationality,
				a.passenger_birthday,
				a.passenger_gender,
				a.card_type,
				a.card_no,
				a.card_Issueplace,
				a.card_expired,
				a.order_id								
		from 
				flight_passenger a
	</select>
	<!-- 列表(全部) -->
	<select id="listByOrder" parameterType="pd" resultType="pd">
		select
				a.passenger_id,
				a.passenger_name,
				a.passenger_type,
				a.passenger_nationality,
				a.passenger_birthday,
				a.passenger_gender,
				a.card_type,
				a.card_no,
				a.card_Issueplace,
				a.card_expired,
				a.order_id								
		from 
				flight_passenger a
		where 1=1
		and
			order_id=#{order_id}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from flight_passenger
		where 
			passenger_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>