<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TicketMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into flight_ticket(
			order_id,
			psr_name,
			card_no,
			ticket_no,
			backfill_time,
			ticket_remark
		) values (
			#{order_id},
			#{psr_name},
			#{card_no},
			#{ticket_no},
			#{backfill_time},
			#{ticket_remark}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from flight_ticket
		where 
			ticket_id = #{ticket_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  flight_ticket
			set 
			ticket_id = ticket_id
			where 
				ticket_id = #{ticket_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			ticket_id,
			order_id,
			psr_name,
			card_no,
			ticket_no,
			backfill_time,
			ticket_remark
		from 
			flight_ticket
		where 
			ticket_id = #{ticket_id}
	</select>
	
	<!-- 根据订单获取列表 -->
	<select id="listByOrder" parameterType="pd" resultType="pd">
		select
				a.ticket_id,
				a.order_id,
				a.psr_name,
				a.card_no,
				a.ticket_no,
				a.backfill_time,
				a.ticket_remark
		from 
				flight_ticket a
		where
				a.order_id = #{order_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.ticket_id,
				a.order_id,
				a.psr_name,
				a.card_no,
				a.ticket_no,
				a.backfill_time,
				a.ticket_remark
		from 
				flight_ticket a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.ticket_id,
				a.order_id,
				a.psr_name,
				a.card_no,
				a.ticket_no,
				a.backfill_time,
				a.ticket_remark
		from 
				flight_ticket a
	</select>
	<!-- 列表(根据乘客的证件号码拿到机票信息) -->
	<select id="getByPsr" parameterType="pd" resultType="pd">
		select
				a.ticket_id,
				a.order_id,
				a.psr_name,
				a.card_no,
				a.ticket_no,
				a.backfill_time,
				a.ticket_remark
		from 
				flight_ticket a
		where
			a.card_no = #{passCardNo}
			<if test="passName != null and passName != ''">
				and a.psr_name = #{passName}
			</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from flight_ticket
		where 
			ticket_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>