<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH\:mm\:ss,SSS} [%t] [%p] [%c\:%L] \: %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="BEGINNER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/Beginner/Beginner.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH\:mm\:ss,SSS} [%t] [%p] [%c\:%L] \: %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.beginner">
		<level value="info" />
	</logger>

	<!-- Third-party Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<logger name="org.springframework.jdbc">
		<level value="info" />
	</logger>

	<logger name="org.mybatis.spring">
		<level value="info" />
	</logger>
	<logger name="java.sql">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="BEGINNER" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
