<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="BeginnerRealm" />
	</bean>

	<!-- 項目自定义的Realm -->
	<bean id="BeginnerRealm" class="com.java.beginner.plugin.shiro.BeginnerRealm"></bean>

	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/" />
		<property name="successUrl" value="/main/index" />
		<property name="unauthorizedUrl" value="/login/to_login" />
		<property name="filterChainDefinitions">
			<value>
				/static/login/** = anon
				/static/js/myjs/** = authc
				/static/js/** = anon
				/uploadFiles/uploadImgs/** = anon
				/code.do = anon
				/login/to_login = anon
				/app**/** = anon
				/api/** = anon
				/register/** = anon
				/do_register/** = anon
				/** = authc
			</value>
		</property>
	</bean>
</beans>  