<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<!-- quartz持久化存储 -->
	<bean name="quartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		<!-- 解决Job无法使用Spring容器对象问题，也可用SpringUtil的解决方案 -->
		<property name="jobFactory" ref="beginnerJobFactory" />
		<!-- <property name="configLocation" value="file:/data/conf/quartz.properties" /> -->
		<property name="configLocation" value="classpath:quartz.properties" />
		<!--应用启动完后 QuartzScheduler延时10秒再启动 -->
		<property name="startupDelay" value="10" />
		<!-- 注册触发器 -->
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
		<!-- 注册jobDetail -->
		<property name="jobDetails">
			<list>
				<ref bean="complexJobDetail" />
			</list>
		</property>
	</bean>

	<bean name="complexJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.beginner.core.quartz.BaseJob" />
		<property name="durability" value="true" />
		<property name="group" value="jobGroupName_Monitoring" />
		<property name="name" value="jobName_Monitoring" />
	</bean>
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="complexJobDetail" />
		<property name="cronExpression" value="0/30 * * * * ?" />
		<property name="name" value="triggerName_Monitoring" />
		<property name="group" value="triggerGroupName_Monitoring" />
	</bean>
</beans>
