<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

	<sql id="columns">
		USER_TYPE,
		CHINESE_NAME,
		USER_NAME,
		USER_PASSWORD,
		MOBILE_PHONE,
		USER_PHONE,
		USER_MAIL,
		USER_STATUS,
		LAST_LOGIN,
		PARENT_ID,
		BUYING_AGENT_ID,
		SUPPLIER_ID,
		USER_ID
	</sql>

	<sql id="columnsT">
		T.USER_TYPE,
		T.CHINESE_NAME,
		T.USER_NAME,
		T.USER_PASSWORD,
		T.MOBILE_PHONE,
		T.USER_PHONE,
		T.USER_MAIL,
		T.USER_STATUS,
		T.LAST_LOGIN,
		T.PARENT_ID,
		T.BUYING_AGENT_ID,
		T.SUPPLIER_ID,
		T.USER_ID
	</sql>

	<!-- 新增-->
	<insert id="save" parameterType="pd" keyProperty="USER_ID">
		INSERT INTO PUB_USER(
			USER_TYPE,
			CHINESE_NAME,
			USER_NAME,
			USER_PASSWORD,
			MOBILE_PHONE,
			USER_PHONE,
			USER_MAIL,
			USER_STATUS,
			LAST_LOGIN,
			PARENT_ID,
			BUYING_AGENT_ID,
			SUPPLIER_ID,
			USER_ID
		) VALUES (
			#{USER_TYPE},
			#{CHINESE_NAME},
			#{USER_NAME},
			#{USER_PASSWORD},
			#{MOBILE_PHONE},
			#{USER_PHONE},
			#{USER_MAIL},
			#{USER_STATUS},
			#{LAST_LOGIN},
			#{PARENT_ID},
			#{BUYING_AGENT_ID},
			#{SUPPLIER_ID},
			#{USER_ID}
		)
	</insert>

	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		DELETE FROM PUB_USER
		WHERE
			USER_ID = #{USER_ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		UPDATE PUB_USER
			SET
				USER_TYPE = #{USER_TYPE},
				CHINESE_NAME = #{CHINESE_NAME},
				USER_NAME = #{USER_NAME},
				USER_PASSWORD = #{USER_PASSWORD},
				MOBILE_PHONE = #{MOBILE_PHONE},
				USER_PHONE = #{USER_PHONE},
				USER_MAIL = #{USER_MAIL},
			USER_ID = USER_ID
			WHERE
				USER_ID = #{USER_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		SELECT
			<include refid="columns"></include>
		FROM 
			PUB_USER
		WHERE 
			USER_ID = #{USER_ID}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT
			<include refid="columnsT"></include>
		FROM 
			PUB_USER T
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		SELECT
			<include refid="columnsT"></include>
		FROM 
			PUB_USER T
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		DELETE FROM PUB_USER
		WHERE 
			USER_ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
</mapper>