<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContactsMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into agent_contacts(
			contact_name,
			contact_address,
			contact_postcode,
			contact_mail,
			contact_phone,
			isdefault,
			buyer_id
		) values (
			#{contact_name},
			#{contact_address},
			#{contact_postcode},
			#{contact_mail},
			#{contact_phone},
			#{isdefault},
			#{buyer_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from agent_contacts
		where 
			contact_id = #{contact_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  agent_contacts
			set 
			contact_name = #{contact_name},
			contact_address = #{contact_address},
			contact_postcode = #{contact_postcode},
			contact_mail = #{contact_mail},
			contact_phone = #{contact_phone},
			isdefault = #{isdefault}
			where 
				contact_id = #{contact_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			contact_id,
			contact_name,
			contact_address,
			contact_postcode,
			contact_mail,
			contact_phone,
			isdefault,
			buyer_id			
		from 
			agent_contacts
		where 
			contact_id = #{contact_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.contact_id,
				a.contact_name,
				a.contact_address,
				a.contact_postcode,
				a.contact_mail,
				a.contact_phone,
				a.isdefault,
				a.buyer_id
		from 
				agent_contacts a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.contact_id,
				a.contact_name,
				a.contact_address,
				a.contact_postcode,
				a.contact_mail,
				a.contact_phone,
				a.isdefault,
				a.buyer_id
		from 
				agent_contacts a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from agent_contacts
		where 
			contact_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>